go 1.25.0

use (
	./casbin
	./circuitbreaker
	./fgprof
	./fiberi18n
	./fibernewrelic
	./fibersentry
	./fiberzap
	./fiberzerolog
	./hcaptcha
	./jwt
	./loadshed
	./monitor
	./opafiber
	./otelfiber
	./paseto
	./swagger
	./testcontainers
	./websocket
)
