go 1.25.0

use (
./v3/casbin
./v3/circuitbreaker
./v3/fgprof
./v3/hcaptcha
./v3/i18n
./v3/jwt
./v3/loadshed
./v3/monitor
./v3/newrelic
./v3/opa
./v3/otel
./v3/paseto
./v3/sentry
./v3/socketio
    ./v3/swaggo
./v3/swaggerui
./v3/testcontainers
./v3/websocket
./v3/zap
./v3/zerolog
./v3/spnego
)
